.fusion-contact-info{
	text-align: center;
	color:#b1b1b3;
}
.fusion-secondary-header a, .fusion-secondary-header a:hover{
	color:#b1b1b3;	
}
.fusion-secondary-header{
	border-bottom-color:#b1b1b3 !important;
}
.box h2,.box p{
	padding: 3rem;
	padding-bottom: 0;
	margin: 0;
	text-align: center;
	
}
@media only screen and (min-width: 800px){
	.fusion-header-wrapper{
		position:relative !important;
	}
}