.fusion-contact-info{
	text-align: center;
	color:#b1b1b3;
}
.fusion-secondary-header a, .fusion-secondary-header a:hover{
	color:#b1b1b3;	
}
.fusion-secondary-header{
	border-bottom-color:#b1b1b3 !important;
}
.box h2,.box p{
	padding: 3rem;
	padding-bottom: 0;
	margin: 0;
	text-align: center;
}
.box p{
padding-top: 0;
}
.buttonRoundedFlat{
	border-width: 1px;
    border-color: #1f4c97;
    border-radius: 5px;
    margin-top: 1rem;
}
.Planes {
    padding: 4rem 6rem !important;
}
.Planes h2,.Planes h3{
	padding: 0;
}
@media only screen and (min-width: 800px){
	.fusion-header-wrapper{
		position:relative !important;
	}
}