.fusion-contact-info{
	text-align: center;
	color:#b1b1b3;
}
.fusion-secondary-header a, .fusion-secondary-header a:hover{
	color:#b1b1b3;	
}
.fusion-secondary-header{
	border-bottom-color:#b1b1b3 !important;
}
.fusion-header-v5.fusion-logo-center .fusion-logo a{
    transition:  all 1s;
}
.fusion-is-sticky .fusion-logo a{
	height: 60px;
}
.fusion-is-sticky .fusion-header .fusion-logo .fusion-standard-logo{
   height: 100%;
}
.title {
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.title:after{
    content:"";
    width: 175px;
    background: #e9b542;
    height: 3px;
    display: table;
    margin: 0 auto 1rem auto;
}
.titleW {
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.titleW:after{
    content:"";
    width: 175px;
    background: #FFF;
    height: 3px;
    display: table;
    margin: 0 auto 1rem auto;
}
p.subtitle{
    margin: 0;
}
a.button_white {
    color: #fff;
    border-color: #fff;
}
a.fusion-social-network-icon.fusion-tooltip.fusion-facebook.fusion-icon-facebook {
    border: solid #fff 1px;
    padding: 0.4rem 0.3rem 0 0.4rem;
    border-radius: 11px;
    color: #fff !important;
    font-size: 1.5rem;
}

footer p{
    font-size: 12px;
    line-height: 1;
}
.box h2,.box p{
	padding: 3rem;
	padding-bottom: 0;
	margin: 0;
	text-align: center;
}
.fusion-mobile-menu-icons a, .fusion-mobile-menu-icons a:after, .fusion-mobile-menu-icons a:before{
    color:#0016a4 !important;
}
.carousel{
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
}
.box p{
    padding-top: 0;
}
.buttonRoundedFlat{
	border-width: 1px;
    border-color: #1f4c97;
    border-radius: 5px;
    margin-top: 1rem;
}
.Planes {
    padding: 4rem 0 !important;
}
.Planes h3{
    font-weight: normal;
}
.Planes h2,.Planes h3{
	padding: 0;
	margin: 0;
}

.rubik{
    font-family: 'Rubik';
    letter-spacing: 0px;
}

@media only screen and (max-width: 800px){
   .fusion-logo img {
        max-width: 200px !important;
    }
    .fusion-header .fusion-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer .fusion-widget-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .fusion-widget-area .fusion-column:first-child{
        order: 1;
    }
    footer .fusion-widget-area .fusion-column{
        margin: 0 !important;
        text-align:center;
    }
    footer .fusion-widget-area .fusion-column:nth-child(2){
        order: 3;
    }
    footer .fusion-widget-area .fusion-column:nth-child(3){
        order: 2;
        text-align: center !important;
    }
    footer .fusion-widget-area .fusion-column:nth-child(3) p{
        text-align: center !important;
    }
    .fusion-fa-align-left{
        display: flex !important;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem !important;
    }
}
@media only screen and (min-width: 800px){
	.fusion-header-wrapper{
		position:relative !important;
	}

}